{extend name="./Template/Public/layout.html" /}
    {block name="title"}创建账号{/block}
    {block name="headjs"}
        <script src="__JS__/bootstrap.min.js"></script>
        <script type="text/javascript">
            var verifyURL='{:Url("Home/Public/verify","","")}';
            var creatAccountURL='{:Url("Home/Login/creatAccount","","")}';
        </script>
    {/block}
    {block name="css"}<link href="__CSS__/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">{/block}
{block name="content"}
<div id="wrapper">
     <!-- Navigation -->
        <div id="page-wrapper">
        <div class="col-md-12 graphs">
	   <div class="xs">
  	    <h3>新建账号</h3>
  	    <div class="well1 white" id="creatAccount">
            <form class="form-floating ng-pristine ng-invalid ng-invalid-required ng-valid-email ng-valid-url ng-valid-pattern" novalidate="novalidate" method="post">
          <fieldset>
            <div class="form-group">
              <label class="control-label">用户名：</label>
              <input type="text" v-on:focus="warn.name=0" name="username" v-model="user.account"  class="form-control1 " required="">
                <div v-show="warn.name" class="coursewarn alert alert-warning">警告！用户名不能为空。</div>
            </div>
            <div class="form-group">
                  <label class="control-label normal">密码：</label></br>
                  <input type="password" v-on:focus="warn.pwd=0" name="pwd" v-model="user.password" class="form-control1 form_datetime_start"  >
                  <div v-show="warn.pwd" class="coursewarn alert alert-warning">警告！密码不能为空。</div>
            </div>
            <div class="form-group filled">
                  <label class="control-label">用户组：</label>
                  <select class="form-control1 ng-invalid ng-invalid-required" v-model="user.group" required="">
                      <option value="0" style="color: #b6b6b6" disabled selected>请选择</option>
                      {volist name="grouplist" id="vo"}
                      <option value="{$vo.id}">{$vo.title}</option>
                      {/volist}
                  </select>
            </div>
            <div class="form-group">
              <button type="button" v-on:click="check_null" class="btn btn-primary">Submit</button>
              <button type="reset" class="btn btn-default">Reset</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
   </div>
      </div>
      <!-- /#page-wrapper -->
   </div>
    <!-- /#wrapper -->
{/block}
{block name="bodyjs"}
    <script src="__JS__/home/Login/creatAccount.js"></script>
{/block}
</html>
