<!DOCTYPE HTML>
<html>
<head>
<title>Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <!-- Bootstrap Core CSS -->
<link href="__CSS__/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="__CSS__/style.css" rel='stylesheet' type='text/css' />
<link href="__CSS__/font-awesome.css" rel="stylesheet">
 <!--Switch CSS-->
    <link href="__CSS__/switch/bootstrap-switch.min.css" rel="stylesheet">
<!-- jQuery -->
<script src="__JS__/jquery.min.js"></script>
<script src="__JS__/vue/vue.js"></script>
    <!-- jquery-confirm files -->
    <link rel="stylesheet" type="text/css" href="__CSS__/confirm/jquery-confirm.min.css"/>
    <script type="text/javascript" src="__JS__/confirm/jquery-confirm.min.js"></script>
    <!--Switch Js-->
    <script src="__JS__/switch/bootstrap-switch.min.js"></script>
<!----webfonts--->
<!--<link href='http://fonts.useso.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>-->
<!---//webfonts--->  
<!-- Bootstrap Core JavaScript -->
<script src="__JS__/bootstrap.min.js"></script>
    <script type="text/javascript">
        var verifyURL='{:Url("Home/Public/verify","","")}';
        var loginURL='{:Url("Home/Login/login","","")}';
    </script>
</head>
<body id="login">
  <div class="login-logo">
    <a href="index.html"><img src="__IMG__/logo.png" alt=""/></a>
  </div>
  <h2 class="form-heading">login</h2>
  <div class="app-cam" id="lgapp">
	  <form>
          <input hidden v-model="rmpwd" id="rmpwd">
          <input type="text" v-model="user.account" class="text" placeholder="请输入用户名">
          <input type="password" v-model="user.pwd" placeholder="请输入密码">
          <div class="switch" data-on="success" data-off="warning" style="float: right;margin-bottom: 1em">
              <input type="checkbox" name="my-checkbox" data-on-color="success" data-off-color="warning" v-bind:checked="rmpwd|getstatus"/>
          </div>
          <div class="submit"><input v-on:click="login" type="button"  value="Login"></div>
		<ul class="new">
			<li class="new_left"><p><a href="#">Forgot Password ?</a></p></li>
			<li class="new_right"><p class="sign">New here ?<a href="register.html"> Sign Up</a></p></li>
			<div class="clearfix"></div>
		</ul>
	</form>
  </div>
   <div class="copy_layout login">
      <p>Copyright &copy; 2015.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
   </div>
  <script src="__JS__/home/Login/login.js"></script>
</body>
</html>
