<!-- start ImgPicker -->
<script type="text/j-template" id="tpl_popbox_ImgPicker">
	<div id="ImgPicker">
		<div class="tabs clearfix">    
		    <a href="javascript:;" class="active tabs_a fl" data-origin="imgpicker" data-index="1">选择图片</a>    
		    <a href="javascript:;" class="tabs_a fl j-initupload" data-origin="imgpicker" data-index="2">上传新图片</a>       
		</div>  
		<!-- end tabs-->
		<div class="tabs-content" data-origin="imgpicker">    
		    <div class="tc" data-index="1">    
		        <ul class="img-list imgpicker-list clearfix"></ul>
				<!-- end img-list -->
				<div class="imgpicker-actionPanel clearfix">
					<div class="fl">
						<a href="javascript:;" class="btn btn-primary" id="j-btn-listuse">使用选中图片</a>
					</div>
					<div class="fr">
						<div class="paginate"></div>
					</div>
				</div>
				<!-- end imgpicker-actionPanel -->
		    </div>    

		    <div class="tc hide" data-index="2">
				<div class="uploadifyPanel clearfix">
					<ul class="img-list imgpicker-upload-preview"></ul>
					<input type="file" name="imgpicker_upload_input" id="imgpicker_upload_input">
				</div>

				<div class="imgpicker-actionPanel">
					<a href="javascript:;" class="btn btn-primary" id="j-btn-uploaduse">使用上传的图片</a>
				</div>
				<!-- end imgpicker-actionPanel -->
		    </div>      
		</div>
		<!-- end tabs-content -->
	</div>
</script>

<script type="text/j-template" id="tpl_popbox_ImgPicker_listItem">
	<% _.each(dataset,function(url){ %>
		<li>
			<span class="img-list-overlay"><i class="img-list-overlay-check"></i></span>
			<img src="<%= url %>">
		</li>
	<% }) %>
</script>

<script type="text/j-template" id="tpl_popbox_ImgPicker_uploadPrvItem">
	<li>
		<span class="img-list-btndel j-imgpicker-upload-btndel"><i class="gicon-trash white"></i></span>
		<span class="img-list-overlay"></span>
		<img src="<%= url %>">
	</li>
</script>
<!-- end ImgPicker -->