<!-- diy js start-->
<script src="__PLG__/ueditor/ueditor.config.js"></script>
<script src="__PLG__/ueditor/ueditor.all.min.js"></script>
<script src="__PLG__/ueditor/diy_imgpicker.js"></script>

<script src="__PLG__/uploadify/jquery.uploadify.min.js?ver=<?php echo rand(0,9999);?>"></script>

<script src="__JS__/jquery-ui/jquery-ui.min.js"></script>

<script src="__PLG__/diy/diy.core.js"></script>
<script src="__PLG__/diy/diy.events.js"></script>
<script src="__PLG__/diy/diy.verify.js"></script>
<script src="__PLG__/ueditor/ueditor.config.js"></script>
<script src="__PLG__/ueditor/ueditor.all.js"></script>
<script src="__PLG__/ueditor/diy_imgpicker.js"></script>
<script src="__PLG__/diy/diy.init.js"></script> 
<script src="__PLG__/colorpicker/colorpicker.js"></script>
<!-- 
<script src="__PLG__/ueditor/diyUeditor-min.js"></script>
<script src="__PLG__/uploadify/jquery.uploadify.min.js?ver=<?php echo rand(0,9999);?>"></script>
<script src="__JS__/jquery-ui/jquery-ui.min.js"></script>
<script src="__PLG__/diy/diy-min.js"></script>
<script src="/Public/plugins/colorpicker/colorpicker.js"></script>-->
<!-- diy js end -->